header {
    background: linear-gradient(to right, #3498db, #2980b9);
    color: white;
}

.welcome {
    text-align: center;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.welcome p {
    font-size: 1.2em;
}

.welcome a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.welcome a:hover {
    background-color: #3498db;
    color: white;
}